.content {
    display: flex;
    flex-direction: row;
}

.info, .chart {
    width: 50%;
    padding: 2%;
}

.info {
    text-align: justify;
    margin-top: 3%;
}

.chart {
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
}

Pie {
    padding: 0;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .info, .chart {
        width: 100%;
    }
}